@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-display: "Fira Sans", "sans-serif";
  --bg-opacity: 1;
  --color-primary: rgb(255 255 255/1);
  --color-secondary: rgb(44 247 253/1);
  --color-theme: rgb(99 95 199/1);
  --color-base: #000000;
  --ease-in-expo: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@layer base {
  :root {
    font-family: var(--font-display);
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: var(--color-primary);
    color: #1d1e25;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
    color: #242d52; /* Dark Blue */
  }

  a {
    color: #f25f3a; /* Bright Red */
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    line-height: 1.625; /* leading-relaxed */
    color: #9095a7; /* Dark Grayish Blue */
  }

  .custom-h2 {
    font-size: 50px;
  }
}

@layer utilities {
  .before-image::before {
    content: "";
    background-image: url("../assets/images/userIcon.svg");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-top: -30px;
  }
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #fafafa inset !important;
    -webkit-text-fill-color: #000 !important;
  }

  .bg-purple-gradient {
    background: linear-gradient(90deg, #5d54a4, #7c78b8);
  }
  .bg-lilac-gradient {
    background: linear-gradient(270deg, #5d54a4, #6a679e);
  }

  .before-border::before {
    position: absolute;
    content: "";
    width: 100%;
    min-width: 500px;
    height: 2px;
    top: 50%;
    left: 25px;
    background-color: #d4d3e833;
  }
  .after-border::after {
    position: absolute;
    content: "";
    width: 100%;
    min-width: 400px;
    height: 2px;
    top: 50%;
    right: 25px;
    background-color: #d4d3e8;
  }
}
